# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: linux-64
bs4=4.12.3=py39hd3eb1b0_0
fastapi=0.112.2=py311h06a4308_0
feedparser=6.0.8=py311h06a4308_0
pip=24.2=py311h06a4308_0
python=3.11.9=h955ad1f_0
# CMAKE_ARGS="-DLLAMA_CUDA=on"
llama_cpp_python=0.2.90